/* CSS files add styling rules to your content */

body {
    font-family: helvetica, arial, sans-serif;
    margin: 0em;
  }

  h1 {
    font-style: italic;
    color: #373fff;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }

  .bar {
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .log {
    position: fixed;
    top: 0;
    left: 0;
  }

  .mode {
    position: fixed;
    bottom: 50px;
    left: 0;
  }

  button {
    z-index: 100;
  }